
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


header{
    background-color: #1A2A58;
    height: 20px;
    padding: 20px;
}

#logo{
    float:left;
    clear:both;
}

#imglogo{
    width: 70px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

#logo-nm{
    color:white;
    font-size: 16px;
    margin-top: 10px;
}

#menu{
    background-color: #1A2A58; 
    text-align: right;
    }

#menu ul{
    list-style:none;
    padding: 0px;
}

#menu ul li{
    display: inline;
    justify-content: right;
}

#menu ul li a{
    color: #fff;
    display:inline-block;
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#menu ul li a:hover{
    background-color: rgb(158, 154, 154); 
}

#menu ul li:last-child a{
    float: right;
    background-color: rgb(158, 154, 154);
}

.container{
    width: 100%;
}

#p1{
    width: 40%;
    float: left;
    margin-left: 5%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;

}

#p2{
    width: 40%;
    float: right;
    margin-right: 5%;
    margin-top: 3%;
    
}

#p2 form{
    background-color: rgb(158, 154, 154);
    border: none;  
    border-radius: 5%;
    text-align: center;
    color: white;
    margin-top: 10%;
    box-shadow: 6px 4px 20px 0 rgb(0, 0, 0, 0.3);
}

#p2-1{
    text-align: center;
    padding-top: 0.1%;
    
}

#p2-1 input{
    width: 80%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    border: none;
}

#p2-1 input:focus{
    border-shadow:0 0 0 0;
    outline: 0;
}

#p2 form h2{
    margin-top: 7%;
    color: white;
    text-align: center;
}

#botao{
    font-weight: bold ; 
    background-color: #1A2A58;
    width: 100px;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    
}

#botao:focus{
    border-shadow:0 0 0 0;
    outline: 0;
}

#botao:hover{
    background-color: rgb(248, 248, 248);
    color: #1A2A58;
}


#compensar{
    clear: both;
}
img{
    width: 100%; 
}

#fim{
    clear: both;
    text-align: center;
    background-color: rgb(53, 47, 47);
    height: 80px;
    color: white;
    vertical-align: middle;
}

footer{
    margin-top: 5px;
    font-size: 12px;
    padding-top: 3%;
}

#info{
    width: 30%;
    text-align: center;
    margin-bottom: 5%;
    padding: 15px;
    background-color: rgb(158, 154, 154);
    color: white;
    border-radius: 30px;
}

