
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


header{
    background-color: #1A2A58;
    height: 100px;
    padding: 20px;
}

#logo{
    float:left;
    clear:both;
}

#imglogo{
    width: 70px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

#logo-nm{
    color:white;
    font-size: 16px;
    margin-top: 10px;
}

.container{
    width: 100%;
}

#p1{
    width: 40%;
    float:left;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
}

#p2{
    width: 30%;
    float:right;
    margin-top: 3%;
    margin-right: 10%;
    text-align: center;
    background-color: rgb(158, 154, 154);
    border-radius: 5%;
    box-shadow: 6px 4px 20px 0 rgb(0, 0, 0, 0.3);
    padding-bottom: 3%;
}

#p2 input{
    width: 50%;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    border: none;
}

#p2 input:focus{
    border-shadow:0 0 0 0;
    outline: 0;
}

#p2 h3{
    color: white;
    margin-top: 5%;
}

#botao{
    font-weight: bold ; 
    background-color: #1A2A58;
    width: 100px;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    }

#botao:hover{
    background-color: rgb(248, 248, 248);
    color: #1A2A58;
}



img{
    width: 100%;
}

#compensar{
    clear: both;
}

#fim{
    clear: both;
    text-align: center;
    background-color: rgb(53, 47, 47);
    height: 80px;
    color: white;
    vertical-align: middle;
}

footer{
    margin-top: 5px;
    font-size: 12px;
    padding-top: 3%;
}

