            
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans&family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #1A2A58;
    height: 20px;
    padding: 20px;
}

#logo{
    float:left;
    clear:both;
}

#imglogo{
    width: 70px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

#logo-nm{
    color:white;
    font-size: 16px;
    margin-top: 10px;
}

#menu{
    background-color: #1A2A58; 
    text-align: right;  
}

#menu ul{
    list-style:none;
    padding: 0px;
}

#menu ul li{
    display: inline;
    justify-content: right;
    
}

#menu ul li a{
    color: #fff;
    display:inline-block;
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#menu ul li a:hover{
    background-color: rgb(158, 154, 154); 
}

#menu ul li:last-child a{
    float: right;
    background-color: rgb(158, 154, 154);
}
.container{
    width: 100%;
}

#p1{
    width: 40%;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#p2{
    margin-top: 7%;
    width: 40%;
    float: right;
    text-align: justify;
    margin-right:2%;
}

#p3{
    text-align: center;
}


#fim{
    clear: both;
    text-align: center;
    background-color: rgb(53, 47, 47);
    height: 80px;
    color: white;
    vertical-align: center;
}

footer{
    margin-top: 5px;
    font-size: 12px;
    padding-top: 3%;
}

#botao{
    font-weight: bold ; 
    background-color: #1A2A58;
    width: 100%;
    color: white;
    border-radius: 15px;
    border: 1px solid;
    border-color:#1A2A58 ;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
}

#botao:hover{
    background-color: rgb(248, 248, 248);
    color: #1A2A58;
}

